body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.nav {
  float: left;
  width: 250px;
}

.content {
  margin-left: 270px;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 20px;
}

